﻿<%@ Page Language="C#"  MasterPageFile="Site.Master" AutoEventWireup="true" CodeBehind="SetMode.aspx.cs" Inherits="WiFiCtrl.SetMode" %>



<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

    <p>

        <asp:Label ID="LabelSetModeStatus" runat="server" Text="Setting WiFi configuration ..."></asp:Label>

    </p>
</asp:Content>
