﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="./Site.Master.cs" Inherits="WiFiCtrl.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="./AspStyles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                   <p>FrankenNXT</p>
                </h1>
            </div>

            <div>
            <!-- Header Image -->
                 <p><a href="./index.html">  <img alt="100%" width="100%" src="./Images/rpiraspberries.png"/></a></p>
            
                </div>

            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal" Width="150px" >
      
                       <Items>
                        <asp:MenuItem  NavigateUrl="~/WiFi.aspx" Text="WiFi Status"/>
                        <asp:MenuItem NavigateUrl="~/Settings.aspx" Text="Settings"/>  
                    </Items>

                </asp:Menu>
            </div> 
            <br />
            <br />
            
        </div>
	<div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
	<div class="clear">
        </div>
    </div>
    <div class="footer">

    </div>
    </form>
</body>
</html>


