﻿<%@ Page Title="WiFi Control" Language="C#" MasterPageFile="Site.Master" AutoEventWireup="true"
    CodeBehind="WiFi.aspx.cs" Inherits="WiFiCtrl.Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

    

    <h1>WiFi Status</h1>
   

  

    <p><asp:Label ID="LabelStatus" runat="server" Text="Label"></asp:Label></p>
   
       
</asp:Content>

